<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/post-details.css">
</head>
<body>
   <div class="post-details">
   <%- include('includes/nav.ejs')  %>
   <div class="detail_header">
      <h1 ><%= post.title %></h1>
   </div>
 <div class="content">
   <div class="description">
      <p class="detail_description"><%= post.description %></p>
    </div>
   <div class="img_div">
  <img src="<%= post.imgUrl %>" class="detail_img"/>
</div>  

</div>  
    
</body>
</html>